# Verification and Authenticity

## Keyppi

**Last Update Date of the Project:** 11.10.2022

**Last Update Date of the Record:** 20.12.2023

**Short Description:** ZK private key recovery platform.

**Scope:** Unknown

**Related URLs:** 

- https://github.com/dhernz/keyppi

## MinAuth

**Last Update Date of the Project:** 30.11.2023

**Last Update Date of the Record:** 10.12.2023

**Short Description:** JWT based authentication protocol.

**Scope:** zkIgnite Cohort 1

**Related URLs:** 

- https://github.com/mlabs-haskell/MinAuth

## Mina Doc Registery

**Last Update Date of the Project:** 20.12.2022

**Last Update Date of the Record:** 10.12.2023

**Short Description:** Authority issued document verification with ZK.

**Scope:** zkIgnite Cohort 0

**Related URLs:** 

- https://github.com/JoE11-y/mina-doc-registry

## Mina World ID

**Last Update Date of the Project:** 10.10.2022

**Last Update Date of the Record:** 20.12.2023

**Short Description:** Worldcoin's World ID implementation for Mina zkApps.

**Scope:** Personal

**Related URLs:** 

- https://github.com/mitschabaude/mina-world-id

## MVS

**Last Update Date of the Project:** 01.12.2023

**Last Update Date of the Record:** 10.12.2023

**Short Description:** Identity verification zkApp.

**Scope:** Mina Navigators

**Related URLs:** 

- https://github.com/JoE11-y/MVS

## Social Recovery

**Last Update Date of the Project:** 17.12.2022

**Last Update Date of the Record:** 10.12.2023

**Short Description:** Cross chain account recovery zkApp.

**Scope:** Unknown

**Related URLs:** 

- https://github.com/kriss1897/zk-social-recovery

## ZAP

**Last Update Date of the Project:** 10.12.2023

**Last Update Date of the Record:** 10.12.2023

**Short Description:** ZK attestation protocol.

**Scope:** Mina Navigators

**Related URLs:** 

- https://github.com/julio4/zap